/* Background Image Jump Left */
@media only screen and (max-width:1100px){
.bg1{
    background-position:-140px} }

/* Tagline Smaller */
@media only screen and (max-width:890px) {
.bg1 {
    background-position:center center}
    
.tagline{
    display:flex;
    justify-content: center;
    text-align:right;
    padding-bottom: 10%;
    margin-right: 0%;
    margin-top: 40%; }
    
.tagline h1{
    font-size: 4em;
    letter-spacing: -5px;
    font-weight: 800;
    line-height: 75%;
    font-family: 'Raleway', sans-serif;
    text-align: center;}

.about-text {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 1.3em;
    line-height: 1.6em;}

.particle{
text-align:right;
margin-right:150px;
font-size:1.5em;
font-style:italic;
font-weight:400;
padding-bottom:0px; }
}    
